# Settings and Configs
# Ignore all the C object files
*
!*/
!*.*

# Ignore Python Cache
__pycache__/
*.py[cod]

# Ignore Vs code settings
.vscode/

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
