{% extends "base.html" %}


{% block title %}Success Page{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/question1_app/css/style.css">
{% endblock %}


{% block content %}

<div class="container">
    <h1 style="text-align: center;"> Category Table </h1>
    <table class="table table-dark text-center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Visits</th>
            <th>Likes</th>
        </tr>
        {% for item in categoryModelQueries %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.visits }}</td>
            <td>{{ item.likes }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="container">
    <h1 style="text-align:center"> Page Table </h1>
    <table class="table table-dark text-center">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Url</th>
            <th>Views</th>
        </tr>
        {% for item in pageModelQueries %}
        <tr>
            <td>{{ item.category }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.url }}</td>
            <td>{{ item.views }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}