{% extends "base.html" %}


{% block title %}Index Page{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/question1_app/style.css">
{% endblock %}


{% block content %}


<div class="container" id="container1">
    <div id="content">
        <h2>Entry one</h2>
        <p>This is my first entry.</p>

        <h2>Entry two</h2>
        <p>This is my second entry.</p>
    </div>
</div>

<div class="form-group" id="content2">
    <form action="/model-name/" method="post">
        <div class="container" id="container2">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Car Manufacturer
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">BMW</button>
                    <button class="dropdown-item" type="button">Mercedes</button>
                    <button class="dropdown-item" type="button">Volvo</button>
                </div>
            </div>

            <div>
                <input id="model_name" type="text" name="model_name" class="form-control" value="{{ current_name }}">
                <label for="model_name">Model Name</label>
                <div class="form-group" stylze="justify-content: end">
                    <input type="submit" value="Submit details">
                </div>
            </div>
        </div>
    </form>

</div>
</div>



<h1>{{ section.title }}</h1>

{% for story in story_list %}
<h2>
    <a href="{{ story.get_absolute_url }}">
        {{ story.headline|upper }}
    </a>
</h2>
<p>{{ story.tease|truncatewords:"100" }}</p>
{% endfor %}

{% endblock %}